// main
$main-background-color: #291720;
$main-text-color: #f0f0c9;
$link-color: #9993B2;
$link-color-active: #B4D4EE;
$error-message-color: #FFE66D;

// button
$btn-width: 300px;
$btn-height: 50px;

// headings
$main-title: 4em;
$secondary-title: 3em;